
.e20r-admin-hr {
    width: 90%;
}
.e20r-client-service-select {
    border: solid 1px #ffffff;
    padding: 5px 5px 5px 5px;
    width: 1024px;
    /* Center the box */
    margin-left: auto;
    margin-right: auto;
}
.startHidden {
    display: none;
}
.e20r-selectMember {

}
.e20r-select {
    max-width: 1024px;
    min-width: 300px;
    padding: 20px 20px 0px 20px;
}
.e20r-select label {
    min-width:150px;
    width: 290px;
    max-width: 350px;
}
.e20r-select select {
    min-width: 100px;
    width: 250px;
    max-width: 300px;
}
.e20r-select a {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}
.e20r-client-select {
    max-width: 1024px;
    min-width: 480px;
}
.e20r_mHead {
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
}
.e20r_mData {
    padding-right: 5px;
    padding-left: 10px;
    max-width: 150px;
    min-width: 20px;
    text-align: right;
}
#e20r-measurement-table {
    background-color: #ffffff;
}
.e20rEven {
    background-color: #e5e5e5;
}
.e20rOdd {
    background-color: #c5c5c5;
}
#e20r_reload_btn {
    margin: 20px 20px;
}
.tab {
    float: left;
}
.tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

.tab [type=radio] {
    display: none;
}

.tab-content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
}

[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .tab-content {
    z-index: 1;
}

.expand {
    height: 28px;
    min-width: 250px;
    width: 250px;
    max-width: 400px;
    padding: 3px;
}

.text-input,
.text-descr {
    font-size: 12pt;
    line-height: 1em;
}

.tl-corner {
    border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
}

.bl-corner {
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
}

.tr-corner {
    border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
}

.br-corner {
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
}
.e20r-settings-table td {
    padding: 0px;
    margin: 0px;
}

.e20r-settings-table td h3 {
    padding: 5px 10px 0px 25px;
    margin: 0px;
}

.e20r-inline-table {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
}
.e20r-progress-padding {
    height: 25px;
    background-color: #9C0000;
}
.e20r-progress-border {
    width: 15px;
    background-color: #9C0000;
}
#saturday-progress-container .e20r-number-col {
    width: 62px;
    text-align: center;
    padding-top: 8px;
    line-height: 50px;
    color: #666666;
    font-size: 58px;
}
#e20r-progress-header {
    color: white;
    background-color: #9C0000;
    font-size: 18px;
}
#saturday-progress-container.progress-container {
    background: rgba( 0, 76, 255, 0.95 );
    border: 1px solid rgb( 0, 76, 255);
}

#saturday-progress-container .progress-canvas {
    padding-top: 10px;
}

#saturday-progress-container ul {
    margin-left: 48px;
    margin-bottom: 16px;
}
#saturday-progress-container ul li { list-style: outside disc; }

.progress-container {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #C5C5C5;
    border: #5C5C5C;
    padding: 14px;
}

.progress-container > h3 {
    font-variant: small-caps;
    color: #FFF !important;
    font-size: 20px !important;
    line-height: 50% !important;
    font-weight: bold;
}

.progress-container > h3 span {
    font-size: 100%;
    font-weight: normal;
}

#e20r-progress-canvas {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #FFF;
    min-height: 300px;
    padding: 14px;

}
/* */
#submit-e20r-tracker-button {
    font-size: 22px;
    margin-bottom: 8px;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: rgba(0, 76, 255, 0.9);
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
}


table.e20r-progress-form > tbody > tr td {
    vertical-align: top;
    padding: 4px;
    padding-bottom: 22px;
    padding-top: 22px;
    border-bottom: 1px solid #C8CBCC;
}

table.e20r-progress-form td.content {
    padding-left: 16px;
}

#saturday-progress-container legend {
    float: left;
    margin-bottom: 12px;
    font-size: 18px;
    font-variant: small-caps;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    color: #9C0000;
    margin-top: 2px;
}
#saturday-progress-container .help {
    clear: left;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
    color: #000;
}
#saturday-progress-container h5.measurement-header {
    zoom: 1;
    font-size: 16px;
    padding: 8px;
    border-top: 1px solid #004CFF;
    background: rgba( 0, 76, 255, 0.2 );
    color: #9C0000;
}
#saturday-progress-container h5.measurement-header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#saturday-progress-container h5.measurement-header span.title { float: left; }
#saturday-progress-container h5.measurement-header img.measurement-descript-toggle {
    float: left;
    margin-left: 6px;
    margin-top: -1px;
    cursor: pointer;
}
#saturday-progress-container .girth-row-container {
    zoom: 1;
    margin-bottom: 12px;
    padding: 6px 8px;
    padding-top: 16px;
    /* display: none; */
    font-size: 14px;
}
#saturday-progress-container .girth-row-container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#saturday-progress-container .girth-row-container .girth-descript-container {
    width: 452px;
    float: left;
}

#saturday-progress-container .girth-row-container .girth-descript-container.active { width: 362px; }
#saturday-progress-container .girth-row-container p {
    display: none;
    font-size: 14px !important;
}
#saturday-progress-container .girth-row-container.active { padding-top: 6px; }
#saturday-progress-container .girth-image {
    width: 60px;
    height: 57px;
    display: block;
    border: 1px solid #0b3e56;
    float: left;
    margin-right: 8px;
}
#saturday-progress-container .girth-image.active {
    width: 144px;
    height: 137px;
}
#saturday-progress-container .girth-image.F { background-position: 60px 0; }
#saturday-progress-container .girth-image.active.F { background-position: 144px 0; }
.progress-container p {
    color: #000;
}

.measurement-field-container {
    zoom: 1;
    -moz-border-radius: 3px;
    -webkit-border-right: 3px;
    border: 1px solid #CCC;
    background: #F7F7F7;
    cursor: default;
}
.measurement-field-container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.measurement-field-container label {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
    display: block;
    margin-left: 16px;
    margin-bottom: 8px;
    font-weight: bold;
    padding: 0 2px;
    font-size: 14px;
    line-height: 12px;
    background: #FFF;
    margin-top: -5px;
}

.measurement-field-container input {
    clear: left;
    margin-left: 20px;
    display: block;
    float: left;
    margin-bottom: 10px;
}

.measurement-field-container span.unit {
    float: left;
    font-size: 16px;
    margin: 8px;
    color: #333;
}
.measurement-field-container.saved {
    display: none; /* TODO: Use javascript to change this to/from 'none' */
}
.measurement-field-container.edit { display: block; }
.measurement-field-container.active {
    background: rgba(0, 255, 255, 0.4);
    border: 1px solid #004cff;
}

.measurement-saved-container {
    zoom: 1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #CCC;
    background: #F7F7F7;
    cursor: default;
    display: none; /* TODO: Use javascript to set this to/from 'none' */
    background: #F6FEE1;
    border: 1px solid #9FBE50;
}

.measurement-saved-container span.value {
    clear: left;
    float: left;
    margin: 8px;
    margin-right: 0;
    font-weight: bold;
    margin-left: 20px;
    font-size: 28px;
    line-height: 26px;
}

.measurement-saved-container span.unit {
    margin-left: 6px;
    margin-top: 12px;
    float: left;
    font-size: 16px;
    maring: 8px;
    color: #000;
}

.measurement-saved-container button.edit {
    font-size: 14px;
    float: right;
    margin-right: 12px;
    margin-top: 9px;
}
.measurement-saved-container {
    zoom: 1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #cccccc;
    background: #f7f7f7;
    cursor: default;
    display: none;
    background: rgba(0, 255, 255, 0.4);
    border: 1px solid #004cff;
}
.measurement-saved-container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.measurement-saved-container label {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
    display: block;
    margin-left: 16px;
    margin-bottom: 8px;
    font-weight: bold;
    padding: 0 2px;
    font-size: 14px;
    line-height: 12px;
    background: white;
    margin-top: -5px;
}
.measurement-saved-container input {
    clear: left;
    margin-left: 20px;
    display: block;
    float: left;
    margin-bottom: 10px;
}
.measurement-saved-container span.unit {
    float: left;
    font-size: 16px;
    margin: 8px;
    color: #333333;
}
.measurement-saved-container span.value {
    clear: left;
    float: left;
    margin: 8px;
    margin-right: 0;
    font-weight: bold;
    margin-left: 20px;
    font-size: 28px;
    line-height: 26px;
}
.measurement-saved-container span.unit {
    margin-left: 6px;
    margin-top: 12px;
}
.measurement-saved-container button.edit {
    font-size: 14px;
    float: right;
    margin-right: 12px;
    margin-top: 9px;
}
.measurement-saved-container.active { display: block; }

/* .active {
    padding-top: 6px;
}*/

.measurement-descr-container.active {
    width: 362px;
}

.girth-image.active {
    width: 144px;
    height: 145px;
}

.girth-image {
    width: 60px;
    height: 57px;
    display: block;
    border: 1px solid #0B3E56;
    float: left;
    margin-right: 8px;
}

.notice .li { line-height: 150%; }
.orange-notice {
    margin-bottom: 8px;
    background: #fff6eb;
    background-repeat: no-repeat;
    background-position: 12px 8px;
    border: 1px solid #df8b37;
    padding: 8px 12px;
    padding-left: 34px;
    font-size: 14px;
    font-weight: normal;
}
.orange-notice .li { line-height: 150%; }
.orange-notice.no-icon { padding-left: 12px; }

#progress-questionnaire h5 {
    clear: left;
    font-size: 16px;
}
#progress-questionnaire h5 span { color: #0079a7; }
#progress-questionnaire ul {
    margin: 16px;
    margin-top: 8px;
}
#progress-questionnaire ul li {
    list-style: none;
    height: 28px;
    line-height: 30px;
    font-size: 16px;
}

.browserIE .measurement-field-container { padding-bottom: 8px; }
.browserIE .measurement-field-container label {
    margin-top: -9px;
    height: 17px;
    line-height: 16px;
}
.browserIE .measurement-field-container span.value { margin-top: 0; }
.browserIE .measurement-field-container span.unit { margin-top: 4px; }
.browserIE .measurement-field-container button.edit { margin-top: 1px; }
.browserIE .measurement-saved-container { padding-bottom: 8px; }
.browserIE .measurement-saved-container label {
    margin-top: -9px;
    height: 17px;
    line-height: 16px;
}
.browserIE .measurement-saved-container span.value { margin-top: 0; }
.browserIE .measurement-saved-container span.unit { margin-top: 4px; }
.browserIE .measurement-saved-container button.edit { margin-top: 1px; }
.browserIE .content fieldset legend { margin-left: -6px; }
.browserIE #photo-upload-table .photo-upload-container .title {
    height: 12px;
    margin-top: -11px;
}
.browserIE #photo-upload-table-flexing .photo-upload-container .title {
    height: 12px;
    margin-top: -11px;
}
.red-notice {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: 12px 8px;
    padding: 8px 12px;
    padding-left: 34px;
    font-size: 14px;
    font-weight: normal;
    background-color: #f8d3d0;
    background-repeat: no-repeat;
    color: #260e0c;
    border: 1px solid #cb3f36;
}
.red-notice .li { line-height: 150%; }
.red-notice li { line-height: 150%; }
table.saturday-progress-form { width: 630px; }
table.saturday-progress-form > tbody > tr td {
    vertical-align: top;
    padding: 4px;
    padding-bottom: 22px;
    padding-top: 22px;
    border-bottom: 1px solid #c8cbcc;
}
table.saturday-progress-form td.content { padding-left: 16px; }
table.saturday-progress-form > tbody > tr:first-child td { padding-top: 4px; }
table.saturday-progress-form legend { padding-top: 4px; }
table.saturday-progress-form legend .help-icon {
    float: right;
    margin-top: -1px;
    margin-left: 6px;
    cursor: pointer;
}
table.saturday-progress-form .item {
    width: 62px;
    border: 1px solid transparent;
    border-right: 1px solid #6c7d6c;
    text-align: center;
    color: #4b4a4a;
    padding-top: 8px;
    font-size: 58px;
    line-height: 50px;
}
table.saturday-progress-form tbody tr.collapsed { background: #e8f6fc; }
table.saturday-progress-form tbody tr.collapsed td { padding: 8px 0; }
table.saturday-progress-form tbody tr.collapsed td:first-child { width: 76px; }
table.saturday-progress-form tbody tr.collapsed td .e20r-number-col {
    font-size: 28px;
    line-height: 24px;
    padding-top: 4px;
}
table.saturday-progress-form tbody tr.collapsed td.title h5 {
    text-transform: uppercase;
    height: 32px;
    line-height: 34px;
    font-size: 18px;
    font-weight: normal;
}
table.saturday-progress-form tbody tr.collapsed td.title h5 .help-icon {
    float: right;
    margin-top: -1px;
    margin-left: 6px;
    cursor: pointer;
}
table.saturday-progress-form tr.completed td { background: #fbfcf5; }
table.saturday-progress-form tr.active td { background: #fcffe0; }
table.saturday-progress-form .status {
    float: right;
    margin-top: -32px;
}
table.saturday-progress-form .status .text {
    float: left;
    color: #909384;
    font-size: 16px;
    margin-right: 8px;
    font-style: italic;
    margin-top: 7px;
}
table.saturday-progress-form .status .icon { float: right; }
table.saturday-progress-form tfoot td {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 16px;
}
table.saturday-progress-form tfoot tr.review h5 {
    color: #333333;
    font-size: 20px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: normal;
}
table.saturday-progress-form tfoot tr.review ol li {
    cursor: pointer;
    list-style: decimal inside;
    padding: 8px;
    border-bottom: 1px solid #98a498;
    font-size: 16px;
}
table.saturday-progress-form tfoot tr.review ol li:first-child { border-top: 1px solid #98a498; }
table.saturday-progress-form tfoot tr.review ol li span {
    float: right;
    margin-right: 35px;
}
table.saturday-progress-form tfoot tr.review ol li.completed { background: #f7fce3 url(../images/tick16.png) no-repeat 98.5% center; }
table.saturday-progress-form tfoot tr.review ol li.incomplete { background: #fce5e3 url(../images/cross16.png) no-repeat 98% center; }
table.saturday-progress-form tfoot button.submit {
    font-size: 22px;
    margin-bottom: 8px;
}
table.saturday-progress-form tfoot button.submit div { padding: 4px; }
.browserFirefox20 table.saturday-progress-form legend { display: block; }
.browserFirefox20 table.saturday-progress-form legend .help-icon {
    float: left;
    margin-right: 4px;
}