/** CSS definition for the ExerciseView display **/
div.e20r-exercise-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #bbb;
    background-color: #fcfcfc;
}
div.spacer {
    clear: both;
    height: 1px;
}
div.e20r-exercise-table-header,
div.e20r-exercise-table-body {
    width: 100%;
}
div.e20r-exercise-table-header p.e20r-first-column {
    text-align: center;
}
div.e20r-exercise-detail-row {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 4px;
}
div.e20r-exercise-title {
    cursor: pointer;
    padding: 0 8px 0 8px;
    margin-bottom: 0;
    font-size: 5vmin;
}
h4.e20r-tracker-detail-h4 {
    font-size: 5vmin !important;
    font-weight: bold;
    color: #004CFF;
    margin: 0;
}
div.e20r-display-exercise-image {
    width: 100%;
    height: auto;
}
.e20r-video {
    width: 100%;
    /* display: inline-block; */
}
div.e20r-exercise-table-column {
    /* float: left; */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
div.e20r-exercise-description {
    padding: 4px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 1vw;
    background-color: #fff;
    border: 2px solid #c0c0c0;
    min-height: 7.5ex;
    line-height: 2.5ex;
    overflow: hidden;
}
div.first-column {
    float: left;
    text-align: right;
}
div.second-column {
    float: right;
    text-align: left;
}
div.e20r-exercise-description p {
    padding-left: 5px;
    text-align: left;
}
.e20r-exercise-label {
    font-size: 4.0vmin;
    font-style: italic;
    color: #004C00;
    padding-left: 5px;
}
.e20r-exercise-value {
    color: rgba(0, 76, 255, 0.9);
    font-size: 3.75vmin;
    padding-left: 8px;
    padding-right: 10px;
}
/** For the activity tracking Input **/
table.e20r-resp-table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #bbb;
}
.e20r-resp-table td,th {
    border-top: 1px solid #ddd;
    padding: 4px 8px;
}
table.e20r-resp-table th {background-color:rgba( 92, 92, 92, 0.3 );font-weight:bold;color:#004CFF;}
table.e20r-resp-table tbody tr:nth-child(even) td { background-color: #eee;}
@media screen and (max-width: 600px) {
    table.e20r-resp-table {width:100%;}
    .e20r-resp-table thead {display: none;}
    .e20r-resp-table tr:nth-of-type(2n) {background-color: inherit;}
    .e20r-resp-table tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
    .e20r-resp-table tbody td {display: block;  text-align:center;}
    .e20r-resp-table tbody tr:nth-child(even) td { background-color: #eee;}
    .e20r-resp-table tbody td.e20r-td-input-hidden { display: none; }
    .e20r-resp-table tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
    .e20r-resp-table .td-input-button {
        padding-top: 10px;
    }
    .e20r-resp-table tr.e20r-saved td.e20r-td-input-activity { background-color: #FFF; }
    .e20r-resp-table div.e20r-activity-var { color: #004C00; font-weight: bold; font-variant: small-caps; }
    .e20r-exercise-value {
        padding: 0;
    }
}
.e20r-activity-overview-table {
    margin-left: 20px;
    margin-right: 20px;
    width: 95%;
    border: 1px solid #c5c5c5;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
.e20r-activity-table-header {
    background-color: #f1f1f1;
    border: 2px solid #f5f5f5;
    width:100%;
    padding: 0 20px 0 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
div.e20r-activity-table-body {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px 0 20px;
}
div.exercise-header {
    background-color: #004C00;
    /* border-bottom: 2px solid #5c5c5c; */
    padding: 4px;
}
/* div.e20r-activity-table-body > div.e20r-exercise-row {
    height: 21px;
    line-height: 100%;
}*/
.e20r-exercise-row {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
.e20r-activity-group {
    width: 100%;
    float: left;
    /* margin: 10px; */
}
.e20r-int-table {
    width: 100%;
    margin-bottom: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
div.e20r-act-content-row {
    width: 100%;
}
p.e20r-content-col {
    float: left;
    padding: 5px 10px 0 10px;
    margin: 0 !important;
}
span.e20r-activity-label {
    color: #FFF;
    font-weight: bold;
    float: left;
    padding-left: 5px;
    padding-right: 10px;
}
span.e20r-activity-var {
    color: #FFF;
    font-weight: normal;
    float: left;
    padding-left: 5px;
    padding-right: 10px;
    border-bottom: 1px solid #c0c0c0;
}
input[class^="e20r-activity-input"] {
    width: 95%;
    height: 25px;
    border: 2px solid #666666;
    margin-right: 5px;
    /* float: left; */
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: content-box;
}
div.e20r-activity-exercise {
    width: 100%;
}
div.e20r-display-exercise-div {
    width: 100%;
}
.e20r-spacer-row {
    height: 2px;
}
.e20r-exercise-video { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.e20r-exercise-video iframe, .e20r-exercise-video object, .e20r-exercise-video embed, .e20r-exercise-video video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.active {
    background-color: rgba( 90, 201, 64, 0.3 ) !important;
}
.edited {
    background-color: rgba( 255, 153, 0, 0.5 ) !important;
}
.e20r-save-set-row {
    height: 30px;
    width: 100%;
    font-size: 0.9em;
    padding: 0;
    vertical-align: middle;
    margin: 0;
}
.e20r-saved-set-number {
    font-size: 1.3em;
    color: #004C00;
    font-weight: bold;
    text-align: left;
    float: left;
}
.e20r-td-input-activity {
/*    min-width: 75px;
    width: 38%;
    max-width: 180px;
    */
    padding: 0;
    margin: 0;
}
.e20r-td-input-count {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
.e20r-td-input-button {
    /* width: 100%; */
    padding: 0;
    margin: 0;
    vertical-align: middle;
}
.e20r-activity-exercise-tracking {
    padding-bottom: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
.e20r-edit-weight-value,
.e20r-edit-rep-value {
    color: #004CFF !important;
    font-size: 0.9em !important;
    text-decoration: dashed !important;
    text-decoration-color: #004CFF !important;
}
.e20r-edit > table {
    margin: 0;
    padding: 0;
}
tfoot.e20r-activity-table-footer {
    border: 0 hidden;
}
@media print {
    table.e20r-print-activity {
        page-break-after: always;
    }
    div.e20r-activity-description {
        page-break-after: always;
        margin-left: 2cm;
        margin-right: 2cm;
    }
}
/* Vertical tablets and smaller devices */
/* @media screen and (max-width: 533px) {
    .e20r-display-exercise-image > .wp-video-shortcode {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}*/
/* Any other device */
@media screen and (min-width: 534px) {
/*    .e20r-display-exercise-image > .wp-video-shortcode {
        display: block;
        margin: 0 auto;
        max-width: 960px;
        width: 100%;
        min-width: 530px;
        min-height: 350px;
        line-height: 2.5ex;
        height: 15ex;
    }
    */
}
 img.e20r-resize {
     max-width: 350px;
     height: auto;
}
.e20r-saved-weight-value,
.e20r-saved-rep-value {
    margin-right: 5px;
    text-align: center;
    float: left;
    height: 25px;
}
div[class^="e20r-activity-group-track"] {
    padding: 5px 5px 5px 5px;
    float: left;
}
.e20r-display-exercise-image {
    width: 100%;
    margin: 0 5px 0 5px;
}
.e20r-display-exercise-descr-row {
    width: 100%;
}
/** Youtube specific CSS **/
.e20r-youtube-container { display: block; margin: 20px auto; width: 100%; max-width: 920px; }
.youtube-player { display: block; width: 100%; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; cursor: pointer; display: block; }
img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; height: auto }
div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("http://i.imgur.com/TxzC70f.png") no-repeat; }
#youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
@media print {
    div.play-button { display: none; }
}
