/********************* For the Client Girth/Weight Graph Table & the Backend UI *******/
.e20r-admin-hr {
    width: 90%;
}
.e20r-client-service-select {
    border: solid 1px #ffffff;
    padding: 5px 5px 5px 5px;
    width: 1024px;
    /* Center the box */
    margin-left: auto;
    margin-right: auto;
}
.startHidden {
    display: none;
}
.e20r-selectMember {

}
.e20r-select {
    max-width: 1024px;
    min-width: 300px;
    padding: 20px 20px 0px 20px;
}
.e20r-select label {
    min-width:150px;
    width: 290px;
    max-width: 350px;
}
.e20r-select select {
    min-width: 100px;
    width: 250px;
    max-width: 300px;
}
.e20r-select a {
    min-width: 150px;
    max-width: 150px;
    text-align: center;
}
.e20r-client-select {
    max-width: 1024px;
    min-width: 480px;
}
/* .e20r_mHead {
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
}*/
.e20r_mData {
    padding-right: 5px;
    padding-left: 10px;
    max-width: 150px;
    min-width: 20px;
    text-align: right;
}
/*#e20r-measurement-table {
    background-color: #ffffff;
}*/
.e20rEven {
    background-color: #e5e5e5;
}
.e20rOdd {
    background-color: #c5c5c5;
}
#e20r_reload_btn {
    margin: 20px 20px;
}
.tab {
    float: left;
}
.tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

.tab [type=radio] {
    display: none;
}

.tab-content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
}

[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .tab-content {
    z-index: 1;
}
.expand {
    height: 28px;
    min-width: 250px;
    width: 250px;
    max-width: 400px;
    padding: 3px;
}

.text-input,
.text-descr {
    font-size: 12pt;
    line-height: 1em;
}

/************* For the E20RTracker Settings page ****************/
.e20r-settings-table td {
    padding: 0px;
    margin: 0px;
}

.e20r-settings-table td h3 {
    padding: 5px 10px 0px 25px;
    margin: 0px;
}

.e20r-inline-table {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
}
/***************************** For the Measurements Page ***********************/
.clear-after { zoom: 1; }
.clear-after:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*** TODO: Do we need the .rounded-corners-* CSS? ***/
.floating-error {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    z-index: 999;
    background: #f8d3d0;
    border: 2px solid #cb3f36;
    padding: 8px;
    font-size: 12px;
    line-height: 18px;
    color: black;
    -moz-box-shadow: 1px 1px 3px #333333;
    max-width: 600px;
}
.floating-error button {
    font-size: 14px;
    float: right;
    color: buttontext;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
}
.notice .li { line-height: 150%; }
.orange-notice {
    margin-bottom: 8px;
    background: #fff6eb;
    background-repeat: no-repeat;
    background-position: 12px 8px;
    border: 1px solid #df8b37;
    padding: 8px 12px;
    padding-left: 34px;
    font-size: 14px;
    font-weight: normal;
}
.orange-notice .li { line-height: 150%; }
.orange-notice.no-icon { padding-left: 12px; }
.red-notice {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: 12px 8px;
    padding: 8px 12px;
    padding-left: 34px;
    font-size: 14px;
    font-weight: normal;
    background-color: #f8d3d0;
    background-repeat: no-repeat;
    color: #260e0c;
    border: 1px solid #cb3f36;
}
.red-notice .li { line-height: 150%; }
.red-notice li { line-height: 150%; }
.yellow-notice {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 8px;
    background: #fff6eb;
    background-repeat: no-repeat;
    background-position: 12px 8px;
    border: 1px solid #df8b37;
    padding: 8px 12px;
    padding-left: 34px;
    font-size: 14px;
    font-weight: normal;
    background-color: #feffeb;
    border: 1px solid #b0b12e;
}
.yellow-notice .li { line-height: 150%; }
.yellow-notice .li { line-height: 150%; }
.green-notice {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: 12px 8px;
    padding: 8px 12px;
    padding-left: 34px;
    font-size: 14px;
    font-weight: normal;
    background-color: #deffdb;
    background-repeat: no-repeat;
    color: #242a24;
    border: 1px solid #84c37e;
}
.green-notice .li { line-height: 150%; }
.green-notice.big, .orange-notice.big, .red-notice.big, .yellow-notice.big {
    padding: 16px;
    padding-left: 65px;
    padding-right: 32px;
    font-size: 16px;
    line-height: 18px;
    background-position: 24px 16px;
}
.blue-notice {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 8px;
    background-repeat: no-repeat;
    background-position: 12px 8px;
    padding: 8px 12px;
    padding-left: 34px;
    font-size: 14px;
    font-weight: normal;
    background-color: #F3FBFF;
    background-repeat: no-repeat;
    color: #242a24;
    border: 1px solid #9BBCCC;
}
/* TODO: Do we include the floating error (boyant-error) CSS? */
.floating-error {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    z-index: 999;
    background: #f8d3d0;
    border: 2px solid #cb3f36;
    padding: 8px;
    font-size: 16px;
    line-height: 18px;
    color: black;
    -moz-box-shadow: 1px 1px 3px #333333;
    max-width: 600px;
}
.floating-error button {
    font-size: 14px;
    float: right;
    color: buttontext;
    border: 1px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
}
#saturday-progress-container #e20r-progress-canvas {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #FFF;
    min-height: 300px;
    padding: 14px;

}
/** The actual weekly progress measurement page container **/
#saturday-progress-container #e20r-progress-canvas {
    padding-top: 10px;
}
#saturday-progress-container.progress-container {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: rgba( 0, 76, 255, 0.95 );
    border: 1px solid rgb( 0, 76, 255);
    padding: 14px;
    max-width: 700px;
}

#saturday-progress-container.progress-container > h3 {
    font-variant: small-caps;
    color: #FFF !important;
    font-size: 20px !important;
    line-height: 50% !important;
    font-weight: bold;
    margin: 0 0 15px;
}

#saturday-progress-container.progress-container > h3 span {
    font-size: 100%;
    font-weight: normal;
}
/*** TODO: Include or exclude Welcome banner? ****/
#saturday-progress-container .welcome-initial { font-size: 16px; }
#saturday-progress-container .welcome-initial h3 {
    margin-bottom: 12px;
    margin-top: 4px;
    font-size: 24px;
    background: url(../images/report_edit32.png) no-repeat; /* TODO: Path to edit icon is bad */
    height: 32px;
    padding-left: 39px;
    line-height: 35px;
}
#saturday-progress-container .welcome-initial h4 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 12px;
    margin-top: 32px;
    border-bottom: 1px solid #c8cbcc;
}
#saturday-progress-container .welcome-initial ul { margin-bottom: 0; }
#saturday-progress-container .welcome-initial ul li { line-height: 150%; }
#saturday-progress-container .welcome-initial .unit-item-container {
    height: 32px;
    margin-left: 33px;
}
#saturday-progress-container .welcome-initial .unit-item-container select { font-size: 14px; }
#saturday-progress-container .welcome-initial .unit-item-container .completed {
    display: none;
    font-weight: bold;
}
#saturday-progress-container .welcome-initial #save-units {
    margin-left: 33px;
    margin-top: 12px;
    margin-bottom: 16px;
    font-size: 14px;
}
/** Content within the Measurements Page container **/
#saturday-progress-container .help {
    clear: left;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
    color: #000;
}
#saturday-progress-container legend {
    float: left;
    margin-bottom: 12px;
    font-size: 1.8em;
    font-variant: small-caps;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    color: #004CFF;
    margin-top: 2px;
}
#saturday-progress-container ul {
    margin-left: 48px;
    margin-bottom: 16px;
}
#saturday-progress-container ul li { list-style: outside disc; }
#saturday-progress-container h5.measurement-header {
    font-size: 16px;
    padding: 8px;
    border-top: 1px solid #5C5C5C;
    background: rgba( 197, 197, 197, 0.3 );
    color: #004CFF;
    margin: 0;
}
#saturday-progress-container h5.measurement-header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#saturday-progress-container h5.measurement-header span.title { float: left; }
#saturday-progress-container h5.measurement-header img.measurement-descript-toggle {
    float: left;
    margin-left: 6px;
    margin-top: -1px;
    cursor: pointer;
}
#saturday-progress-container .girth-row-container {
    margin-bottom: 12px;
    padding: 6px 8px;
    padding-top: 16px;
    /* display: none; */
    font-size: 14px;
}
#saturday-progress-container .girth-row-container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#saturday-progress-container .girth-row-container .girth-descript-container {
    width: 452px;
    float: left;
    /* vertical-align: baseline; */
}

#saturday-progress-container .girth-row-container .girth-descript-container.active { width: 362px; }
#saturday-progress-container .girth-row-container p {
    display: none;
    font-size: 0.8em !important;
}
#saturday-progress-container .girth-row-container.active { padding-top: 6px; }
#saturday-progress-container .girth-image {
    background-size: 61px 57px;
    width: 60px;
    height: 57px;
    display: block;
    border: 1px solid #0b3e56;
    float: left;
    margin-right: 8px;
}
#saturday-progress-container .girth-image.active {
    background-size: 145px 138px;
    width: 144px;
    height: 137px;
}
/*#saturday-progress-container .girth-image.F { background-position: 60px 0; }
#saturday-progress-container .girth-image.active.F { background-position: 144px 0; } */
.measurement-field-container {
    -moz-border-radius: 3px;
    -webkit-border-right: 3px;
    border: 1px solid #CCC;
    background: #F7F7F7;
    cursor: default;
}
.measurement-field-container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.measurement-field-container label {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
    display: block;
    margin-left: 16px;
    margin-bottom: 8px;
    font-weight: bold;
    padding: 0 2px;
    font-size: 14px;
    line-height: 12px;
    background: #FFF;
    margin-top: -5px;
}
.measurement-field-container input {
    clear: left;
    margin-left: 20px;
    display: block;
    float: left;
    margin-bottom: 10px;
}
.measurement-field-container span.unit {
    float: left;
    font-size: 16px;
    margin: 8px;
    color: #333;
}
.measurement-field-container.active {
    background: rgba(255, 184, 77, 0.3);
    border: 1px solid rgba(255, 184, 77, 1);
}
.measurement-field-container.saved {
    display: none;
}
.measurement-field-container.edit {
    background: rgba(255, 184, 77, 0.3);
    border: 1px solid rgba(255, 184, 77, 1);
    display: block;
}
.measurement-saved-container {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #cccccc;
    background: #f7f7f7;
    cursor: default;
    display: none;
    background: rgba(77, 184, 77, 0.4);
    border: 1px solid rgba(77, 184, 77, 1);
}
.measurement-saved-container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.measurement-saved-container label {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
    display: block;
    margin-left: 16px;
    margin-bottom: 8px;
    font-weight: bold;
    padding: 0 2px;
    font-size: 14px;
    line-height: 12px;
    background: white;
    margin-top: -5px;
}
.measurement-saved-container input {
    clear: left;
    margin-left: 20px;
    display: block;
    float: left;
    margin-bottom: 10px;
}
.measurement-saved-container span.unit {
    float: left;
    font-size: 16px;
    margin: 8px;
    color: #333333;
}
.measurement-saved-container span.value {
    clear: left;
    float: left;
    margin: 8px;
    margin-right: 0;
    font-weight: bold;
    margin-left: 20px;
    font-size: 28px;
    line-height: 26px;
}
.measurement-saved-container span.unit {
    margin-left: 6px;
    margin-top: 12px;
}
.measurement-saved-container button.edit {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    padding: 2px 6px 3px;
    color: buttontext;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font: -webkit-small-control;
    line-height: normal;
    font-size: 14px;
    float: right;
    margin-right: 12px;
    margin-top: 9px;
}
.measurement-saved-container.active { display: block; }
/** Internet Explorer specific - *sigh* **/
.browserIE .measurement-field-container { padding-bottom: 8px; }
.browserIE .measurement-field-container label {
    margin-top: -9px;
    height: 17px;
    line-height: 16px;
}
.browserIE .measurement-field-container span.value { margin-top: 0; }
.browserIE .measurement-field-container span.unit { margin-top: 4px; }
.browserIE .measurement-field-container button.edit { margin-top: 1px; }
.browserIE .measurement-saved-container { padding-bottom: 8px; }
.browserIE .measurement-saved-container label {
    margin-top: -9px;
    height: 17px;
    line-height: 16px;
}
.browserIE .measurement-saved-container span.value { margin-top: 0; }
.browserIE .measurement-saved-container span.unit { margin-top: 4px; }
.browserIE .measurement-saved-container button.edit { margin-top: 1px; }
.browserIE .content fieldset legend { margin-left: -6px; }
/** TODO: Include depending on how we manage picture uploads **/
.browserIE #photo-upload-table .photo-upload-container .title {
    height: 12px;
    margin-top: -11px;
}
.browserIE #photo-upload-table-flexing .photo-upload-container .title {
    height: 12px;
    margin-top: -11px;
}
.browserIE #photo-upload-table th { padding-top: 16px; }
.browserIE #photo-upload-table th .photo-upload-container .title {
    height: 14px;
    line-height: 12px;
    margin-top: -13px;
}

/**** For the measurements table ****/
table.e20r-progress-form { width: 630px; }
table.e20r-progress-form > tbody > tr td {
    vertical-align: top;
    padding: 4px;
    padding-bottom: 22px;
    padding-top: 22px;
    border-bottom: 1px solid #c8cbcc;
}
table.e20r-progress-form td.content { padding-left: 16px; }
table.e20r-progress-form > tbody > tr:first-child td { padding-top: 4px; }
table.e20r-progress-form legend { padding-top: 4px; }
table.e20r-progress-form legend .help-icon {
    float: right;
    margin-top: -1px;
    margin-left: 6px;
    cursor: pointer;
}
table.e20r-progress-form .e20r-number-col {
    width: 62px;
    text-align: center;
    padding-top: 8px;
    line-height: 50px;
    color: #666666;
    font-size: 3.5em;
    max-font-size: 58px;
    min-font-size: 38px;
}
table.e20r-progress-form tbody tr.collapsed { background: #e8f6fc; }
table.e20r-progress-form tbody tr.collapsed td { padding: 8px 0; }
table.e20r-progress-form tbody tr.collapsed td:first-child { width: 76px; }
table.e20r-progress-form tbody tr.collapsed td .e20r-number-col {
    max-font-size: 28px;
    min-font-size: 20px;
    line-height: 24px;
    padding-top: 4px;
}
table.e20r-progress-form tbody tr.collapsed td.title h5 {
    font-variant: small-caps;
    height: 32px;
    line-height: 34px;
    max-font-size: 18px;
    min-font-size: 14px;
    font-weight: normal;
}
table.e20r-progress-form tbody tr.collapsed td.title h5 .help-icon {
    float: right;
    margin-top: -1px;
    margin-left: 6px;
    cursor: pointer;
}
table.e20r-progress-form tr.completed td { background: #fbfcf5; }
table.e20r-progress-form tr.active td { background: #fcffe0; }
table.e20r-progress-form .status {
    float: right;
    margin-top: -32px;
}
table.e20r-progress-form .status .text {
    float: left;
    color: #909384;
    max-font-size: 16px;
    min-font-size: 10px;
    margin-right: 8px;
    font-style: italic;
    margin-top: 7px;
}
table.e20r-progress-form .status .icon { float: right; }
table.e20r-progress-form tfoot td {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 16px;
}
table.e20r-progress-form tfoot button.submit {
     max-font-size: 22px;
    min-font-size: 14px;
    margin-bottom: 8px;
}
#submit-weekly-progress-button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    font: -webkit-small-control;
    line-height: normal;
    font-size: 14px;
    margin-right: 12px;
    margin-top: 9px;
}

table.e20r-progress-form tfoot button.submit div { padding: 4px; }
.browserFirefox20 table.e20r-progress-form legend { display: block; }
.browserFirefox20 table.e20r-progress-form legend .help-icon {
    float: left;
    margin-right: 4px;
}
#progress-questionnaire h5 {
    clear: left;
    max-font-size: 16px;
    min-font-size: 12px;
    font-variant: normal !important;
}
#progress-questionnaire h5 span { color: #004CFF; }
#progress-questionnaire ul {
    margin: 16px;
    margin-top: 8px;
}
#progress-questionnaire ul li {
    list-style: none;
    height: 28px;
    line-height: 30px;
    min-font-size: 10px;
    max-font-size: 14px;
}
#homeLesson .content-container blockquote.inspirational {
    margin: 1.2em auto;
    text-align: center;
    color: #666666;
    border-top: 1px solid #aec9b2;
    border-bottom: 1px solid #aec9b2;
    background: #f0fcf2;
    padding: 10px 0;
}
#homeLesson .content-container blockquote.inspirational p { font-size: 18px; }
#homeLesson .content-container blockquote.inspirational .author {
    font-size: 14px;
    font-style: italic;
}
#homeLesson .content-container blockquote.inspirational:first-child { margin-top: 0; }
#homeLesson .content-container div.blockquote-inspirational {
    margin: 1.2em auto;
    text-align: center;
    color: #666666;
    border-top: 1px solid #aec9b2;
    border-bottom: 1px solid #aec9b2;
    background: #f0fcf2;
    padding: 10px 0;
}
#homeLesson .content-container div.blockquote-inspirational p { font-size: 18px; }
#homeLesson .content-container div.blockquote-inspirational .author {
    font-size: 14px;
    font-style: italic;
}
#homeLesson .content-container div.blockquote-inspirational:first-child { margin-top: 0; }
#homeLesson .content-container blockquote {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 22px;
    padding: 0;
    padding-left: 33px;
    margin-left: 33px;
    padding-top: 4px;
    /* background: url(../images/blockquote-bg.png) no-repeat; TODO: Fix with a blockquote character (See CSS for pmpro-customization ) */
    color: #666666;
}
#photo-upload-table th {
    background: none;
    text-align: center;
    font-size: 14px;
}
#photo-upload-table th .photo-upload-container {
    background: #fcffe0;
    border: 1px solid #c3ca80;
    margin: 0 4px;
    padding: 6px;
}
#photo-upload-table th .photo-upload-container .title {
    float: left;
    margin-bottom: 6px;
    background: white;
    margin-top: -15px;
    padding: 1px;
    height: 13px;
    font-weight: bold;
}
#photo-upload-table th .photo-upload-container button { clear: left; }
#photo-upload-table tbody td {
    vertical-align: top;
    padding: 4px;
    padding-bottom: 12px;
    border-bottom: none;
}
#photo-upload-table .photo-upload-notifier {
    height: 30px;
    line-height: 32px;
    padding-left: 32px;
    background: #deffdb url(../images/checkmark.png) no-repeat 8px center;
    color: #242a24;
    margin-bottom: 4px;
    border: 1px solid #84c37e;
    display: none;
}
#photo-upload-table .delete-photo {
    font-size: 0.9em;
    font-weight: bold;
    color: rgba( 156, 0, 0, 0.80);
}
#photo-upload-table .photo-container {
    position: relative;
    float: left;
    font-size: 14px;
    text-align: center;
}
#photo-upload-table .photo-container .descript-overlay {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: absolute;
    bottom: 11px;
    right: 10px;
    background: white;
    opacity: 0.7;
    filter: alpha(opacity=70);
    padding: 0 8px;
    height: 26px;
    line-height: 28px;
    border: 1px solid #666666;
    font-weight: bold;
}
#photo-upload-table img.photo {
    border: 1px solid #cccccc;
    padding: 2px;
    display: block;
    width: 165px;
}
#photo-upload-table tfoot td {
    padding: 0;
    border-bottom: none;
    text-align: center;
}
#photo-upload-table tfoot td div.manip-container {
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #dddddd;
    padding-top: 4px;
    padding-bottom: 2px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
}
#photo-upload-table tfoot td img { cursor: pointer; }
.browserIE #photo-upload-table .photo-upload-container .title {
    height: 12px;
    margin-top: -11px;
}
.browserIE #photo-upload-table th { padding-top: 16px; }
.browserIE #photo-upload-table th .photo-upload-container .title {
    height: 14px;
    line-height: 12px;
    margin-top: -13px;
}
.e20r-noline {
    border: none;
}
.e20r-measurement-table td {
    font-size: 11px;
}
.e20r-measurements-container {
    margin-top: 20px;
    background-color: #004CFF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    min-width: 700px;
    width: 80%;
    max-width: 800px;
    z-index: 100;
    padding: 30px 14px 14px 14px;
    /* display: none; */
}
.e20r-measurements-container h4 {
    position: absolute;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    width: 350px;
    top: -20px;
    left: 0px;
    margin-left: 10px;
    text-align: left;
    padding: 10px;
}
.e20r-measurements-container h4:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 56px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #004CFF transparent;
    display: block;
    width: 0;
    z-index: 1;
}
.e20r-measurements-container span.photo {
    display: block;
    margin: 0 auto;
    width: 38px;
    height: 38px;
}
.e20r-measurements-container div.other-progress-info {
    min-width: 250px;
    max-width: 80%;
    width: 80%;
}
.e20r-measurements-container td.measurement-date {
    min-width: 80px;
    max-width: 30%;
    width: 30%;
}
.e20r-measurements-container a.close {
    position: absolute;
    top: 5px;
    right: 12px;
    width: 16px;
    height: 16px;
    text-decoration: none;
    color: #004CFF;
    background-color: #FFFFFF;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-right: 8px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
div.photo-overlay {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: absolute;
    bottom: 9px;
    right: 10px;
    background: white;
    opacity: 0.8;
    filter: alpha(opacity=70);
    padding: 0 8px;
    height: auto;
    border: 1px solid #666666;
    font-weight: bold;
}
div.photo-overlay > h3 {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: rgba( 0, 76, 155, 0.8);
}
div.photo-overlay > h3 > .timeagosize {
    font-size: 12px;
    padding: 0 !important;
    margin: 0px 0px 3px 0px;
    /* line-height: 50%; */
    color: rgba( 0, 76, 255, 0.6);
}
div.photo-overlay span.value {
    font-weight: normal;
}
#TB_ajaxContent {
    text-align: center;
}
.quick-nav {
    position: relative;
    background-color: #FFFFFF;
    font-size: 10px;
    padding: 20px 90px 20px 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.quick-nav a {
    color: #9C0000;
    text-decoration: none;
    font-size: 12px;
}
.quick-nav table th.rotate {
    /* Something you can count on */
    height: 60px;
    width: 40px;
    position: relative;
    vertical-align: bottom;
    white-space: nowrap;
}
.quick-nav table th.rotate > div {
    position: relative;
    top: 0px;
    left: 30px;
    height: 100%;
    transform:skew(-45deg, 0deg);
    -ms-transform:skew(-45deg,0deg);
    -moz-transform:skew(-45deg,0deg);
    -webkit-transform:skew(-45deg,0deg);
    -o-transform:skew(-45deg,0deg);
    overflow: hidden;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.quick-nav table th.rotate span {
    transform:skew(45deg,0deg) rotate(315deg);
    -ms-transform:skew(45deg,0deg) rotate(315deg);
    -moz-transform:skew(45deg,0deg) rotate(315deg);
    -webkit-transform:skew(45deg,0deg) rotate(315deg);
    -o-transform:skew(45deg,0deg) rotate(315deg);
    position: absolute;
    bottom: 10px;
    left: 1px;
    display: inline-block;
    width: 100%;
    text-align: left;
    text-weight: bold;
}
.quick-nav table td a {
    display: block;
    width: 100%;
    text-align: center;
}
.hover {
    background-color: #84c37e;
}
td.smallPhoto {
    text-align: center;
    vertical-align: middle;
}
div.date {
    font-size: 120%;
    font-weight: bold;
    color: rgba( 0, 76, 255, 0.6);
}
div.timeagosize {
    color: #888888;
}
#e20r-workout-settings {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#e20r-workout-settings .sub-table {
    width:100%;
    position: relative;
    left: 0px;
    min-width: 400px;
    max-width: 700px;
}
#e20r-workout-settings .sub-table th {
    text-align: left;
}
#e20r-workout-settings .sub-table td > input,
#e20r-workout-settings .sub-table td > select {
    width: 100%;
}
td.e20r-group-header {
    font-size: 150%;
    color: #004CFF;
    font-variant: small-caps;
}